@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  
}

body {
  background-image: linear-gradient(to bottom right, #250F37, #5E42E5);
  background-repeat: no-repeat ;
}
header {
  background-color: #8030d9;
}
  

.cont-header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  height: 100px;
}

.logo-img {
  width: 50px;
}

.menu {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  gap: 20px;
}
.menu a {
  text-decoration: none;
}
.menu p {
  color: #fff;
}
.menu :hover{
  color: #463455;
  text-decoration: none;
}

/* conteudo da pagina */

main{
  display: flex;
}
.item1 {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 100px;
  font-size: 20px;
}
.item1 h1{
font-size: 50px;
}

.texto01{
  padding: 100px;
  color: #fff;
}

/* botao */

.botao{
  padding-left: 100px;
}

.itens-botao {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #8030d9;
  /* border: #fff; */
  cursor: pointer;
  height: 50px;
  width: 300px;
}

.itens-botao a {
  color: #fff;
  display: flex;
  text-decoration: none;
  font-size: 20px;
}

.itens-botao :hover {
  color: #463455;
  text-decoration: none;
}

footer {
  background-color: #1a1420;
  /* position: fixed; */
  /* bottom: 0; */
  border-radius: 10px 10px 0 0;
}
.rodape {
  height: 100px;
  display: flex;
  justify-content: center;
  
  align-items: center;
  gap: 20px;
  /* padding-left: 100px; */
}
.rodape img {
  display: flex;
  height: 20px;
}
.rodape a {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  text-decoration: none;
}
.rodape a p {
  font-size: 17px;
  margin: 0;
}
.rodape :hover{
  color: #5E42E5;
}


@media (max-width: 430px){
  main {
    display: flex;
    flex-direction: column;
    
    color: #fff;
    height: 100vh;
    /* height: 80vh; */
    /* margin: 100px; */
  }
  .item1  {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
    /* align-items: center; */
    text-justify: distribute;
  }
  .botao{
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
 
  .texto01{
    text-align: justify;
    display: flex;
    padding: 40px;
  }

}