@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

body {
  background-image: linear-gradient(to bottom right, #250f37, #5e42e5);
}


/* .cont-header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  height: 100px;
} */

.logo-img {
  width: 50px;
}

.menu {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  gap: 20px;
}

.menu a {
  text-decoration: none;
}

.menu p {
  color: #fff;
}

.menu :hover {
  color: #463455;
  text-decoration: none;
}

/* conteudo da pagina */

.content {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 50px;
}

.content p {
  max-width: 50rem;
}

.botao {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #8030d9;
  border: #fff;
  cursor: pointer;
  height: 50px;
  width: 300px;
}

.botao a {
  color: #fff;
  display: flex;
  text-decoration: none;
  font-size: 20px;
}

.botao a:hover {
  color: #463455;
  text-decoration: none;
}

.texto2 {
  margin-top: 50px;
}

.rodape {
  display: flex;
  background-color: #1a1420;
  height: 100px;
  justify-content: center;
  gap: 20px;
  /* border-radius: 10px 10px 0 0; */
}

.rodape img {
  height: 20px;
}

.rodape a {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  text-decoration: none;
}

.rodape a p {
  font-size: 17px;
  margin: 0;
}

.rodape :hover {
  color: #5e42e5;
}

iframe {
  display: flex;
  width: 50rem;
  border-radius: 10px;
}

@media (max-width: 950px) {
  iframe {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .content {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
  }

  .divbotao {
    display: flex;
    justify-content: center;
  }

  iframe {
    display: flex;
    width: 100%;
    border-radius: 10px;
  }
}
